@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');

* {
    font-family: "New Amsterdam", sans-serif;
}

body {
    margin: 0;
    padding: 0 1rem;
    background-color: #212529;

}

header {
   
    border: 1px solid black;
    height: 5rem;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
    background-color: #d7253d;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 0 5rem !important;
}

.pokegrid {
    margin-top: 3rem;
    padding: 2rem 0;
    background-color: #f1f1f1;
    border-radius: 60px;
}

.pokedex {
    margin-right: 1rem;
    ;
    height: 55px;
}

.pokedexicon {
    display: flex;
    flex-direction: row;
}

.bi-list {
    font-size: 3rem;
}

ul {
    list-style: none;
}

.bi-x {
    color: #fff;
    font-size: 2.5rem;
    background-color: #212529;

}

button {
    border: none;
    background-color: #212529;
}

a {
    text-decoration: none;
    font-size: 1.5rem;
}

.row {
    display: flex;
    justify-content: center;
}

img {
    max-height: 100%;

}

.offcanvas-header {
    align-items: center;
    justify-content: space-between;
}

/* grass */
.img1 {
    background-image: url("./img/background.jpg");
    background-position: contain;
    background-size: cover;
    border: 1px solid black;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* water */
.img2 {
    background-image: url("./img/backgroundwater.jpg");
    background-position: contain;
    background-size: cover;
    border: 1px solid black;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* eletric */
.img3 {
    background-image: url("./img/backgroundeletric.jpg");
    background-position: contain;
    background-size: cover;
    border: 1px solid black;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* fire */
.img4 {
    background-image: url("./img/backgroundfire.jpg");
    background-position: contain;
    background-size: cover;
    border: 1px solid black;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ground */
.img5 {
    background-image: url("./img/backgroundground.jpg");
    background-position: contain;
    background-size: cover;
    border: 1px solid black;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* psychic */
.img6 {
    background-image: url("./img/backgroundpsychic.jpg");
    background-position: contain;
    background-size: cover;
    border: 1px solid black;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* dragon */
.img7 {
    background-image: url("./img/backgrounddragon.jpg");
    background-position: contain;
    background-size: cover;
    border: 1px solid black;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}


p {
    padding: 0;
    margin: 0;
    font-weight: 500;

}

.id {
    font-size: 1.5rem;
    font-weight: 900;
}

.pokemon {
    height: 360px;
    padding: 1rem;
    border-radius: 8px;
    transition: height 0.2s ease;
    border: 1px solid black;
}

.capsule {
    opacity: 0;
    max-height: 0;
    transition: opacity 0.5s ease, max-height 0.5s ease;
}

.pokemon:hover {
    height: 560px;

}

.pokemon:hover .capsule {
    display: block;
    opacity: 1;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 1px solid black;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    font-style: italic;
    margin-bottom: 1rem;
}

.types {
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.type {
    border-radius: 16px;
    padding: 0.25rem 1rem;
    filter: brightness(0.9);
}

.abilities {
    margin-top: 1rem;
    text-align: center;
    border-bottom: solid 1px black;
}

.ability {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

.pokeball {
    height: 4.6875rem;
    margin-top: 1.5rem;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* bg-colors */
.normal {
    background-image: linear-gradient(320deg,
            hsl(60deg 19% 95%) 0%,
            hsl(60deg 27% 87%) 11%,
            hsl(60deg 29% 80%) 22%,
            hsl(60deg 30% 73%) 33%,
            hsl(60deg 30% 66%) 44%,
            hsl(61deg 31% 59%) 56%,
            hsl(61deg 31% 52%) 67%,
            hsl(62deg 39% 45%) 78%,
            hsl(62deg 54% 37%) 89%,
            hsl(62deg 94% 27%) 100%);
}

.grass {
    background-image: linear-gradient(305deg,
            hsl(100deg 100% 25%) 0%,
            hsl(100deg 91% 28%) 13%,
            hsl(100deg 84% 31%) 26%,
            hsl(100deg 76% 34%) 38%,
            hsl(100deg 70% 37%) 50%,
            hsl(100deg 64% 40%) 61%,
            hsl(100deg 58% 44%) 72%,
            hsl(100deg 53% 47%) 81%,
            hsl(100deg 50% 51%) 90%,
            hsl(101deg 52% 55%) 100%);
}

.fire {
    background-image: linear-gradient(315deg,
            hsl(25deg 79% 48%) 0%,
            hsl(25deg 77% 49%) 13%,
            hsl(25deg 76% 49%) 26%,
            hsl(25deg 75% 50%) 38%,
            hsl(25deg 77% 51%) 50%,
            hsl(25deg 78% 52%) 61%,
            hsl(25deg 80% 53%) 72%,
            hsl(25deg 81% 54%) 81%,
            hsl(25deg 83% 55%) 90%,
            hsl(25deg 85% 56%) 100%);
}

.water {
    background-image: linear-gradient(315deg,
            hsl(222deg 14% 55%) 0%,
            hsl(222deg 19% 57%) 13%,
            hsl(222deg 24% 59%) 26%,
            hsl(222deg 30% 60%) 38%,
            hsl(222deg 36% 62%) 50%,
            hsl(222deg 44% 63%) 61%,
            hsl(222deg 52% 64%) 72%,
            hsl(222deg 61% 65%) 81%,
            hsl(222deg 70% 66%) 90%,
            hsl(222deg 80% 67%) 100%);
}

.electric {
    background-image: linear-gradient(315deg,
            hsl(48deg 71% 53%) 0%,
            hsl(48deg 73% 54%) 13%,
            hsl(48deg 75% 54%) 26%,
            hsl(48deg 78% 55%) 38%,
            hsl(48deg 80% 55%) 50%,
            hsl(48deg 82% 56%) 61%,
            hsl(48deg 85% 56%) 72%,
            hsl(48deg 87% 57%) 81%,
            hsl(48deg 90% 57%) 90%,
            hsl(48deg 93% 57%) 100%);
}

.ice {
    background-image: linear-gradient(315deg,
            hsl(182deg 84% 29%) 0%,
            hsl(182deg 73% 32%) 13%,
            hsl(182deg 63% 37%) 26%,
            hsl(182deg 54% 41%) 38%,
            hsl(182deg 47% 45%) 50%,
            hsl(182deg 40% 50%) 61%,
            hsl(182deg 41% 55%) 72%,
            hsl(182deg 42% 61%) 81%,
            hsl(182deg 43% 66%) 90%,
            hsl(182deg 44% 72%) 100%);
}

.ground {
    background-image: linear-gradient(315deg,
            hsl(44deg 75% 47%) 0%,
            hsl(44deg 70% 49%) 13%,
            hsl(44deg 66% 51%) 26%,
            hsl(44deg 66% 53%) 38%,
            hsl(44deg 66% 55%) 50%,
            hsl(44deg 66% 56%) 61%,
            hsl(44deg 66% 58%) 72%,
            hsl(44deg 66% 60%) 81%,
            hsl(44deg 65% 62%) 90%,
            hsl(44deg 65% 64%) 100%);
}

.flying {
    background-image: linear-gradient(315deg,
            hsl(256deg 46% 57%) 0%,
            hsl(256deg 48% 59%) 13%,
            hsl(256deg 51% 61%) 26%,
            hsl(256deg 53% 63%) 38%,
            hsl(256deg 56% 65%) 50%,
            hsl(256deg 59% 67%) 61%,
            hsl(256deg 63% 69%) 72%,
            hsl(256deg 67% 71%) 81%,
            hsl(256deg 71% 73%) 90%,
            hsl(256deg 76% 75%) 100%);
}

.poison {
    background-image: linear-gradient(315deg,
            hsl(300deg 95% 44%) 0%,
            hsl(300deg 87% 44%) 13%,
            hsl(300deg 80% 45%) 26%,
            hsl(300deg 74% 45%) 38%,
            hsl(300deg 68% 45%) 50%,
            hsl(300deg 62% 45%) 61%,
            hsl(300deg 57% 45%) 72%,
            hsl(300deg 52% 45%) 81%,
            hsl(300deg 47% 44%) 90%,
            hsl(300deg 43% 44%) 100%);
}

.fighting {
    background-image: linear-gradient(315deg,
            hsl(3deg 28% 63%) 0%,
            hsl(3deg 32% 61%) 13%,
            hsl(3deg 35% 59%) 26%,
            hsl(3deg 39% 57%) 38%,
            hsl(3deg 42% 55%) 50%,
            hsl(3deg 45% 53%) 61%,
            hsl(3deg 47% 51%) 72%,
            hsl(3deg 51% 49%) 81%,
            hsl(3deg 57% 47%) 90%,
            hsl(3deg 65% 45%) 100%);
}

.psychic {
    background-image: linear-gradient(130deg,
            hsl(297deg 66% 72%) 0%,
            hsl(297deg 51% 66%) 29%,
            hsl(298deg 41% 59%) 46%,
            hsl(298deg 34% 53%) 58%,
            hsl(298deg 33% 46%) 67%,
            hsl(298deg 37% 40%) 74%,
            hsl(298deg 41% 34%) 79%,
            hsl(297deg 48% 28%) 85%,
            hsl(297deg 59% 22%) 91%,
            hsl(297deg 83% 16%) 100%);
}

.dark {
    background-image: linear-gradient(315deg,
            hsl(24deg 33% 12%) 0%,
            hsl(24deg 32% 14%) 13%,
            hsl(24deg 31% 17%) 26%,
            hsl(24deg 30% 20%) 38%,
            hsl(24deg 29% 22%) 50%,
            hsl(24deg 28% 25%) 61%,
            hsl(24deg 26% 28%) 72%,
            hsl(24deg 25% 31%) 81%,
            hsl(24deg 24% 33%) 90%,
            hsl(24deg 23% 36%) 100%);
}

.rock {
    background-image: linear-gradient(315deg,
            hsl(49deg 41% 54%) 0%,
            hsl(49deg 42% 53%) 13%,
            hsl(49deg 42% 52%) 26%,
            hsl(49deg 43% 51%) 38%,
            hsl(49deg 44% 51%) 50%,
            hsl(49deg 45% 50%) 61%,
            hsl(49deg 47% 49%) 72%,
            hsl(49deg 49% 48%) 81%,
            hsl(49deg 52% 48%) 90%,
            hsl(49deg 54% 47%) 100%);
}

.bug {
    background-image: linear-gradient(315deg,
            hsl(66deg 71% 63%) 0%,
            hsl(66deg 68% 61%) 13%,
            hsl(66deg 65% 58%) 26%,
            hsl(66deg 63% 56%) 38%,
            hsl(66deg 61% 53%) 50%,
            hsl(66deg 58% 51%) 61%,
            hsl(66deg 59% 49%) 72%,
            hsl(66deg 63% 46%) 81%,
            hsl(66deg 66% 44%) 90%,
            hsl(66deg 70% 42%) 100%);
}

.ghost {
    background-image: linear-gradient(315deg,
            hsl(262deg 83% 34%) 0%,
            hsl(261deg 74% 36%) 13%,
            hsl(261deg 66% 37%) 26%,
            hsl(261deg 59% 39%) 38%,
            hsl(261deg 52% 40%) 50%,
            hsl(261deg 46% 41%) 61%,
            hsl(261deg 41% 43%) 72%,
            hsl(261deg 35% 44%) 81%,
            hsl(261deg 31% 45%) 90%,
            hsl(261deg 26% 47%) 100%);
}

.steel {
    background-image: linear-gradient(315deg,
            hsl(252deg 11% 91%) 0%,
            hsl(251deg 13% 89%) 13%,
            hsl(250deg 15% 88%) 26%,
            hsl(250deg 17% 86%) 38%,
            hsl(249deg 18% 84%) 50%,
            hsl(248deg 18% 83%) 61%,
            hsl(247deg 19% 81%) 72%,
            hsl(247deg 19% 80%) 81%,
            hsl(246deg 20% 78%) 90%,
            hsl(245deg 20% 76%) 100%);
}

.dragon {
    background-image: linear-gradient(130deg,
            hsl(257deg 82% 57%) 0%,
            hsl(258deg 82% 60%) 29%,
            hsl(258deg 82% 62%) 46%,
            hsl(258deg 81% 65%) 58%,
            hsl(259deg 80% 67%) 67%,
            hsl(259deg 79% 69%) 74%,
            hsl(258deg 78% 71%) 79%,
            hsl(258deg 77% 73%) 85%,
            hsl(258deg 76% 75%) 91%,
            hsl(257deg 74% 77%) 100%);
}

.fairy {
    background-image: linear-gradient(315deg,
            hsl(340deg 82% 52%) 0%,
            hsl(340deg 82% 55%) 13%,
            hsl(340deg 83% 58%) 26%,
            hsl(340deg 83% 62%) 38%,
            hsl(340deg 83% 65%) 50%,
            hsl(340deg 84% 69%) 61%,
            hsl(340deg 84% 72%) 72%,
            hsl(340deg 85% 76%) 81%,
            hsl(340deg 85% 79%) 90%,
            hsl(340deg 86% 83%) 100%);
}


@media (max-width:1025px) {
    .pokemon {
        height: 560px;
    }

    .capsule {
        opacity: 1;
    }

    header {

        padding: 0 1rem !important;
    }


}

@media (min-width: 768px) and (max-width: 1025px) {
    p {
        font-size: 0.6rem;
    }

}

@media (max-width:768px) {
    .pokegrid {
        margin-top: 0;
        padding: 0 0.5rem;
        border-top: none;
        background-color: #212529;
        border-radius: 60px;
    }
}